.content {
    width: 350px;

    .mat-form-field {
        width: 100%;
    }

    div {
        width: 100%;
    }
}

@media(max-width: 720px) {
    .mat-form-field {
        align-items: center;
        align-content: center;
        width: 67vw !important;
    }
}